{% extends 'admin.html.twig' %}

{% block title %}Statistique - Admin{% endblock %}

{% block body %}
    <section class="panel important">
        <h2>Bienvenue sur votre tableau de bord</h2>
        {% include 'common/_notice.html.twig' %}

    </section>
{% endblock %}
