{% extends "site.html.twig" %}
{% block title 'homepage.title.waiting'|trans %}

{% block body %}
<main id="main">
    <section id="about" class="about">
        <div class="row">
            <div class="col-8 offset-2">
                <table class="table table-bordered table-transparent">
                    <thead>
                    <tr>
                        <td colspan="5">{{ 'homepage.list_historic'|trans }}</td>
                        <td>

                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for url in urls %}
                        <tr>
                            <td colspan="5" align="center">
                                {{ url.lastMessage() ? url.lastMessage().prenom }}
                            </td>
                            <td align="center">
                                {% set locale = url.lastMessage() ? url.lastMessage().language : 'fr' %}
                                <a href="{{ path('message_index', { 'key' : url.urlToRoute, _locale: locale }) }}" class="btn btn-info btn-sm"
                                    title="{{ 'homepage.action.continue_work'|trans }}">
                                    <i class="bx bx-show"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}
